body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0; /* Cor de fundo suave */
    color: #333; /* Cor do texto */
}

h1 {
    color: #555; /* Cor do título */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3); /* Adiciona um efeito de sombra */
}

.video-container {
    background-color: #e0e0e0; /* Cor de fundo dos vídeos */
    border: 1px solid #ddd;
    padding: 20px;
}
.container {
    width: 80%; /* Define a largura máxima do container */
    margin: 0 auto; /* Centraliza o container horizontalmente */
  }
  body{
    color: black;
    background-color: plum;
    }
    
    section{
    background: rgb(205, 228, 240);
    padding-bottom: 5px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
    }
    
    .chamada-texto{
    margin-right: 5%;
    }
    img{
    height: 200px;
    }
    .categorias_videos{
    display: flex;
    overflow: auto;
    gap: 15 px;
    }